:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --text-primary: #000000;
    --transition-speed: 600ms;
    --colorbluefund: #202022;
    --colorbluenavbar: #2965F1;
    --colorLightblue: #87d2e4;
    --colorgreennavbar: #20D368;
    --colorBlack: #000;
    --colorwhite: #fff;
    --colorgreyfund: #b9d0d9;
    --color_grey_dark: #a2a2a2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontText);
    font-size: 1.6rem;
    line-height: 2;
    min-height: 100vh;
    /* background: var(--colorbluefund); */
    /* background: linear-gradient(130deg, rgba(32,32,34,1) 1%, rgba(39,75,105,1) 38%, rgba(133,161,193,1) 69%, rgba(198,204,216,1) 84%, rgba(198,204,216,1) 100%);  */
    background: rgb(99,99,207);
    background: linear-gradient(130deg, rgba(99,99,207,1) 12%, rgba(34,120,195,1) 42%, rgba(191,205,221,1) 75%, rgba(239,246,255,1) 100%); 000000000000000000000000000000
    background-attachment: fixed;
}

/** GLOBALES **/
.container {
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}
p {
    text-align: justify;
}

/** UTILIDADES **/
.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.container-box {
    width: 80%;
    left: 7rem;
    position: relative;
    width: calc(100% - 17rem);
    padding: 2rem;
    transition: 1.2s;
    margin: 0;
}

/** HEADER **/

.navbar-list .nav-ul {
    list-style: none;
}

/*no tocar de aca para abajo*/
.navbar {
    background: linear-gradient(#274b69, #85a1c1);
}

.navbar-nav .logo {
    text-transform: uppercase;
    color: #b9d0d9;
    gap: 1rem;
}

.navbar-list .nav-ul .nav-item i {
    color: #000000;
}

.navbar-list .nav-ul .nav-item span {
    color: #072b39;
    font-weight: bold;
}

.navbar-nav .nav-bars {
    position: absolute;
    display: none;
    width: 100%;
    padding-right: 3rem;
}
.logo {
    padding: 0 0 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.logo h1 {
    font-size: 2.8rem;
    margin: 0;
    padding: 0;
}
.active {
    background-color: var(--colorLightblue);
}

@media only screen and (min-width: 769px) {
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 18rem;
        height: 100vh;
        padding: 0.6rem 0;
        box-shadow: 0.2rem 0 0 var(--colorLightblue);
        overflow-x: hidden;
        transition: width 1s;        
    }
    
    .navbar .navbar-nav {
        height: 100%;
    }

    .navbar-list{
        height: 90%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .navbar .navbar-list .nav-ul {
        list-style: none;
        font-size: 1.1rem;
        width: 100%;
        padding-left: 1.5rem;
    }
    .nav-item{
        border-top-left-radius: 1.4rem;
        border-bottom-left-radius: 1.4rem;
        margin: 1rem 0;
    }

    .nav-link {
        display: flex;
        align-items: center;
        color: var(--colorBlack);
        gap: 1rem;
    }

    .nav-link i {
        min-width: 4rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--colorBlack);
    }
    
    .home_title h1 {
        color: #11101d;
        font-size: 40px;
        text-align: center;
    }
    /* colapsar el navbar */
    .collapsed {
        width: 6.54rem;
        /* ancho mínimo para mostrar solo el icono */
        transition: width 1s;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        /* width: 96vw; */
        height: 6rem;
    }
    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30rem;
        box-sizing: border-box;
        padding: 0.5rem 0;
    }

    .navbar-nav .nav-bars {
        display: flex;
        justify-content: end;
        z-index: 9999;
    }

    .navbar-nav .navbar-list {
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100%;
        justify-content: center;
        display: none;
    }

    .mobile-menu.navbar-list {
        display: flex;
        z-index: 9999;
        position: fixed;
    }

    .navbar-list .nav-ul {
        display: flex;
        flex-direction: column;
    }

    .navbar-list .nav-ul .nav-item {
        padding: 2rem;
    }
}

/* contenido principal ---------------------------*/
.principal_home{
    padding-left: 4rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
}
.section_text{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.section_img{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .container-box {
        position: inherit;
    }
    .principal_home{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 1.5rem;
        height: auto;
    }
    .section_text {
        width: 100%;
    }
    .section_img{
        width: 100%;
        /* display: block; */
    }
    .section_button{
        order: 1;
        display: flex;
        justify-content: center;
    }
    .section_img{
        order: 0;
    }
    
}

/* Boton de descarga */
.button {
    position: relative;
    color: var(--colorBlack);
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fontTitles);
    letter-spacing: 0.1rem;
    width: 20rem;
    height: 5rem;
    background: var(--colorLightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    padding-left: 3rem;
    border: 0.5px solid var(--colorbluefund);
    transition: 0.5s;
    overflow: hidden;
}
.button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: var(--colorgreyfund);
    z-index: 1;
    transform: translateX(-30rem) skew(30deg);
    transition: 0.75s ease-in-out;
}
.button:hover::after {
    transform: translateX(30rem) skew(30deg);
}
.button:hover {
    padding-left: 0;
    padding-right: 4rem;
}
.button_download span{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: var(--colorbluenavbar);
    border-radius: 5rem;
    left: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out ;
}
.button_download span i{
    padding-left: 0.2rem;
}
.button_download:hover span {
    left: calc(100% - 4.8rem);
}
@media only screen and (max-width: 480px){
    .button {
        width: 100%;
    }
    .button::after{
        transform: translateX(-260px) skew(30deg);
        transition: 0.80s ease-in-out;
    }
    .button:hover::after {
        transform: translateX(260px) skew(30deg);
    }
}

/* ANIMACION TITULO */
.home_title {
    padding-top: 3rem;
    width: 100%;
    height: 10rem;
}
.principal_home_title{
    display: inline-block;
    border-right: 0.3rem solid black;
    margin: 0;
    height: 7rem;
}

@media only screen and (max-width: 480px){
    .home_title {
        width: 100%;        
        height: 23rem;
    }
    .principal_home_title{
        display: inline;
        height: 6rem;
    }
}

/* Habilidades */
.skills{
    padding-left: 4rem;
    display: flex;
    height: 100%;
}
.skills_text{
    width: 70%;
}
.skills_img{
    width: 30%;
    margin: auto;    
}
.skills_title, .description_icons h2{
    text-align: center;
}
.fa-brands, .fa-database {
    font-size: 7rem;
}
.description_icons .icons{
    display: grid;
    gap: 1rem;
    text-align: center;
    grid-auto-rows: 8rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
@media only screen and (max-width: 768px) {
    .skills{
        padding: 0 1.5rem;
        display: block;
    }
    .skills_text, .skills_img{
        width: 100%;
    }
    .skills_img{
        display: flex;
        justify-content: center;
    }
}
/* proyectos */
.card {
    position: relative;
    width: 70%;
    height: 30rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    box-shadow: -9px 9px 18px #5a5a5a,
                9px -9px 18px #ffffff;
    display: flex;
    transition: .4s;
    overflow: hidden; 
  }

  .left-card {
    left: 30%;
  }

  @media only screen and (max-width: 768px) {
    .card {
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .left-card{
        left: auto;
    }
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 2px #5a5a5a;
  }
  
  .card_img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: blueviolet;
  }
  @media only screen and (min-width: 769px){
    .card_img {
        width: 60%;
    }
  }
  
  .card_content {

    padding: 15px;
    display: grid;
  }
  
  .card_title {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
  }
  
  .card_descr {
    color: var(--font-color);
  }
  
  .svg {
    width: 25px;
    height: 25px;
    transform: translateY(25%);
    fill: var(--font-color);
  }
  
  .card_links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
  }
  
  .card_links .link {
    color: var(--font-color);
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
  }
  
  .card_links .link:hover {
    text-decoration: underline;
  }

